@import "src/assets/styles/colors"
@import "src/assets/styles/vars"

.header
  position: sticky
  z-index: 1
  background-color: $white
  top: 0
  width: 100%
  height: $cabinet-header-height
  box-shadow: 0px 15px 25px 0px rgba(227, 227, 229, 0.5)
  -webkit-box-shadow: 0px 15px 25px 0px rgba(227, 227, 229, 0.5)
  -moz-box-shadow: 0px 15px 25px 0px rgba(227, 227, 229, 0.5)
  display: flex
  align-items: center
  &__title
    margin-left: 4em
    letter-spacing: 2px
    text-transform: uppercase
  &__button
    border: none
    outline: inherit
    cursor: pointer
    margin-left: 2em
    width: 36px
    height: 36px
    border-radius: 2px
    display: flex
    justify-content: center
    align-items: center
  &__button:active
    transform: scale(0.9)
  &__button:hover
    background-color: $violet
    color: $white
