.page-not-found
  height: 100%
  background: linear-gradient(360deg, #000000 -1.9%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, #6D3662, #6D3662), radial-gradient(32.45% 32.45% at 48.75% 45.05%, #500769 0%, #500769 27.6%, #4E0767 47.92%, #000000 100%)
  display: flex
  align-items: center
  justify-content: center
