.wallet
  padding: 2em
  &__balance
    font-weight: 500
    font-size: 1.1em
  &__topup
    display: flex
    align-items: center
    input
      width: 9em
      margin-right: 2em

.completed
  color: green
.declined
  color: red
