<div class="wallet">
  <div class="d-flex justify-content-between">
    <div class="wallet__balance">
      <span>{{ 'client.wallet.balance' | translate }}:</span>
      <span class="ml-2">{{ accountBalance }}</span>
    </div>
    <div class="wallet__topup">
      <input type="number" [(ngModel)]="paymentAmount" [placeholder]="'client.wallet.enterAmount' | translate">
      <app-button [label]="'client.wallet.topup' | translate" [color]="'violet'" (click)="pay()"></app-button>
    </div>
  </div>

  <table class="table table-striped table-bordered mt-4">
    <thead>
      <tr>
        <th>{{ 'client.wallet.transactionId' | translate}}</th>
        <th>{{ 'client.wallet.amount' | translate}}</th>
        <th>{{ 'client.wallet.paymentDate' | translate}}</th>
        <th>{{ 'client.wallet.status' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topUp of topUps">
        <td>{{ topUp.transactionId }}</td>
        <td>{{ topUp.amount }}</td>
        <td>{{ topUp.paymentDate }}</td>
        <td [class.completed]="topUp.status === topUpStatus.COMPLETED"
            [class.declined]="topUp.status === topUpStatus.DECLINED">
          {{ topUp.status }} - {{ topUp.cardHolderMessage }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
