<div class="topups">
  <table class="table table-striped table-bordered mt-4">
    <thead>
    <tr>
      <th>ID транзакции</th>
      <th>ID клиента</th>
      <th>Email</th>
      <th>Сумма</th>
      <th>Дата оплаты</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let topUp of topUps">
      <td>{{ topUp.transactionId }}</td>
      <td>{{ topUp.accountId}}</td>
      <td>{{ topUp.email }}</td>
      <td>{{ topUp.amount }}</td>
      <td>{{ topUp.paymentDate }}</td>
      <td [class.completed]="topUp.status === topUpStatus.COMPLETED"
          [class.declined]="topUp.status === topUpStatus.DECLINED">
        {{ topUp.status }} - {{ topUp.cardHolderMessage }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
