<div class="landing" [@slideInLeft]="prepareOutlet(outlet)">
  <app-header></app-header>
  <router-outlet #outlet="outlet"></router-outlet>
  <app-social-networks></app-social-networks>
  <div class="landing__lang">
    <app-lang-select></app-lang-select>
  </div>
</div>
