@import "src/assets/styles/colors"
@import "src/assets/styles/vars"

.nav-menu
  min-height: 470px
  -ms-overflow-style: none
  scrollbar-width: none
  position: fixed
  left: 0
  top: 0
  bottom: 0
  background-color: $graphite
  z-index: 2
  -webkit-box-shadow: inset -10px 0px 46px -4px rgba(0,0,0,0.3)
  -moz-box-shadow: inset -10px 0px 46px -4px rgba(0,0,0,0.3)
  box-shadow: inset -10px 0px 46px -4px rgba(0,0,0,0.3)
  color: $light-graphite
  overflow: hidden
  &__open-menu-icon
    display: block
    height: 2rem
    width: 2rem
    margin-left: 1rem
    margin-top: 1rem
    cursor: pointer
  &__user
    margin-top: 1.5em
    margin-bottom: 3em
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    font-weight: 500
    color: white
    &--hidden
      opacity: 0
  &__link
    display: flex
    text-transform: capitalize
    align-items: center
    height: 3.5em
    font-size: 1.1em
    letter-spacing: 1px
    cursor: pointer
    border-left: 5px solid transparent
    &--active
      color: white
      background-color: $dark-graphite
      font-weight: bold
      border-left: 5px solid $violet
    &__icon
      width: 1.5rem
      margin-left: 1rem
    &__text
      margin-left: 2rem
  &__link:hover
    color: $white
    background-color: $dark-graphite
  &__logout
    position: absolute
    bottom: 1rem
    left: 0
    right: 0
