<nav class="nav-menu no-select" [@slideInOut]="isMenuOpen">
  <div class="wrapper">
    <div class="nav-menu__open-menu-icon" (click)="toggleMenu()">
      <app-hamburger-button [open]="isMenuOpen"></app-hamburger-button>
    </div>

    <div class="nav-menu__user" [ngClass]="{ 'nav-menu__user--hidden' : !isMenuOpen }">{{ role | translate }}</div>

    <div *ngFor="let route of routes"
         (click)="goTo(route.url)"
         class="nav-menu__link"
         [ngClass]="{'nav-menu__link--active': currentRoute === route.url}">
      <img class="nav-menu__link__icon" src="assets/icons/{{route.icon}}.png">
      <span class="nav-menu__link__text">{{ route.name | translate }}</span>
    </div>

    <div class="nav-menu__logout">
      <div class="nav-menu__link" (click)="logout()">
        <img class="nav-menu__link__icon" src="../../../../../assets/icons/logout.png">
        <span class="nav-menu__link__text">{{ 'core-ui.nav-menu.logout' | translate }}</span>
      </div>
    </div>
  </div>
</nav>
