@import '~src/assets/styles/colors'

.employee
  width: 250px
  &__header
    padding: 20px 60px
    background-color: #e9ecef
    display: flex
    justify-content: center
    align-items: center
    border: $light-violet solid 1px
    &__logo
      position: relative
      overflow: hidden
      margin-right: 1em
      border-radius: 50%
      background-image: url("~src/assets/icons/accounts.png")
      background-color: $light-graphite
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      min-width: 75px
      min-height: 75px
    &__description
      text-align: center
  &__timetable
    display: flex
    flex-direction: column
    &__timeslot
      border: $light-violet solid 1px
      &:hover
        cursor: pointer
        background-color: #9eaac4
      &--reserved
        background-color: $light-violet !important
        &:hover
          cursor: default
      &--blocked
        background-color: #ccc
        opacity: 0.5
        pointer-events: none
