<div class="employee">
  <div class="employee__header" [ngStyle]="{ height: headerHeight }">
    <div class="employee__header__logo">
      <app-img [imageUuid]="employee.imageUuid"></app-img>
    </div>
    <div class="employee__header__description">
      {{ employee.fullname }}
    </div>
  </div>
  <div class="employee__timetable">
    <div *ngFor="let ts of timeslots"
         [ngClass]="{ 'employee__timetable__timeslot--reserved' : isReserved(ts),
         'employee__timetable__timeslot--blocked' : isNotWorkingHours(ts),
         'employee__timetable__timeslot': true }"
         [ngStyle]="{ height: slotHeight }"
         (click)="selectSlot(ts)">
      <span *ngIf="!isReserved(ts)">
        {{ formatTimeslot(ts) }}
      </span>
    </div>
  </div>
</div>
