<div [formGroup]="form" class="sign-up" (keyup.enter)="signup()">
  <h3 class="sign-up__title">{{ 'auth.sign-up.registration' | translate }}</h3>
  <div class="wrapper mb-5">
    <div class="sign-up__label sec-text">{{ 'auth.sign-up.login' | translate }}</div>
    <input class="sign-up__input" formControlName="username">
    <div class="sign-up__label sec-text">{{ 'auth.sign-up.fio' | translate }}</div>
    <input class="sign-up__input" formControlName="fullname">
    <div class="sign-up__label sec-text">{{ 'auth.sign-up.email' | translate }}</div>
    <input class="sign-up__input" formControlName="email">
    <div class="sign-up__label sec-text">{{ 'auth.sign-up.phone' | translate }}</div>
    <input class="sign-up__input" formControlName="phone" prefix="+7 " mask="(000)-000-0000">
    <div class="sign-up__label sec-text">{{ 'auth.sign-up.password' | translate }}</div>
    <input class="sign-up__input" formControlName="password" type="password">

    <small *ngIf="statusMessage"
           class="sign-up__status"
           [ngClass]="isSignedUp ? 'sign-up__status--success': 'sign-up__status--error'">
      {{ statusMessage | translate }}
    </small>
  </div>
  <app-button *ngIf="!isSignedUp"
              [label]="'auth.sign-up.signup' | translate"
              [color]="'violet'"
              [loading]="loading"
              (click)="signup()">
  </app-button>
  <app-button *ngIf="isSignedUp"
              [label]="'auth.sign-up.signin' | translate"
              [color]="'violet'"
              routerLink="/auth/sign-in"></app-button>
</div>
