@import "src/assets/styles/colors"

.sign-up
  display: flex
  flex-direction: column
  &__title
    color: $violet
    letter-spacing: 1px
    text-transform: uppercase
  &__label
    align-self: flex-start
    margin-top: 1rem
    font-weight: 400
    color: $gray
    text-transform: capitalize
  &__input
    font-size: 1rem
    line-height: 1rem
    padding: 0.5rem 1rem
    width: 100%
    background-color: $light-gray
    border: none
    outline: none
    text-decoration: none
  &__select
    font-size: 1rem
    padding: 0.5rem 1rem
    border: none
    outline: none
    background-color: $light-gray
    width: 100%
  &__status
    &--error
      color: $error
    &--success
      color: $success
      font-weight: 500
  .ng-invalid.ng-touched
    border: solid 1px $error
