<div class="accounts">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th>логин</th>
      <th>ФИО</th>
      <th>e-mail</th>
      <th>телефон</th>
      <th>роль</th>
      <th>статус</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="tbody">
    <tr *ngFor="let account of accounts">
      <td>{{ account.username }}</td>
      <td>{{ account.fullname }}</td>
      <td>{{ account.email }}</td>
      <td>{{ account.phone }}</td>
      <td>{{ getRoleName(account.role) }}</td>
      <td [ngClass]="{'status--deactivated' : account.status === accountStatus.DEACTIVATED,
                     'status--active' : account.status === accountStatus.ACTIVE,
                     'status--pending' : account.status === accountStatus.PENDING}">
        {{ account.status }}
      </td>
      <td>
        <div *ngIf="!isMyAccount(account.username)">
          <app-button *ngIf="account.status === accountStatus.ACTIVE"
                      [label]="'Деактивировать'"
                      [color]="'red'"
                      [disabled]="buttonsDisabled"
                      (click)="updateAccountStatus(account.id, accountStatus.DEACTIVATED)">
          </app-button>
          <app-button *ngIf="account.status !== accountStatus.ACTIVE"
                      [color]="'violet'"
                      [label]="'Активировать'"
                      [disabled]="buttonsDisabled"
                      (click)="updateAccountStatus(account.id, accountStatus.ACTIVE)">
          </app-button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
