<div class="lang-select">
  <input type="radio" id="kk" name="lang" [checked]="isChecked(languages.KAZAKH)" (click)="selectLanguage(languages.KAZAKH)">
  <label for="kk">KK</label>
  <input type="radio" id="ru" name="lang" [checked]="isChecked(languages.RUSSIAN)" (click)="selectLanguage(languages.RUSSIAN)">
  <label for="ru">RU</label>
  <input type="radio" id="en" name="lang" [checked]="isChecked(languages.ENGLISH)" (click)="selectLanguage(languages.ENGLISH)">
  <label for="en">EN</label>
</div>
