.lang-select
  color: inherit
  display: flex
  align-items: center
  input
    display: none
  label
    align-items: center
    margin-bottom: 0
    margin-right: 1rem
    height: 100%
    cursor: pointer
    user-select: none
    opacity: 0.5
  input:checked + label
    font-weight: 500
    opacity: 1
