<div class="m-5">

  <div class="form-group">
    <label>{{ 'client.schedule.request-appointment.activity' | translate }}:</label>
    <select class="form-control custom-select" [(ngModel)]="request.offeredServiceId">
      <option class="py-2" *ngFor="let service of offeredServices" [ngValue]="service.id">{{ service.nameRu }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{ 'client.schedule.request-appointment.organization' | translate }}:</label>
    <input type="text" [ngModel]="organizationName" class="form-control" disabled>
  </div>
  <div class="form-group">
    <label>{{ 'client.schedule.request-appointment.master' | translate }}:</label>
    <input type="text" [ngModel]="request.employeeName" class="form-control" disabled>
  </div>
  <div class="form-group">
    <div class="d-flex align-baseline">
      <label class="mr-3">{{ 'client.schedule.request-appointment.time' | translate }}:</label>
      <input class="form-control" style="width: 4em" [ngModel]="request.hh" disabled>
      <span class="mx-3">:</span>
      <input class="form-control" style="width: 4em" [ngModel]="request.mm" disabled>
    </div>
  </div>

  <div class="form-group">
    <label>{{ 'client.schedule.request-appointment.comment' | translate }}</label>
    <textarea class="form-control" [(ngModel)]="request.comment">
    </textarea>
  </div>

  <div class="d-flex justify-content-end my-2">
    <button class="btn btn-light mr-2" (click)="cancel()">{{ 'client.schedule.request-appointment.cancel' | translate }}</button>
    <button class="btn btn-primary" (click)="send()">{{ 'client.schedule.request-appointment.send' | translate }}</button>
  </div>

</div>
