.hamburger-icon
  position: relative
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 2px
    width: 100%
    background: white
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
  span:nth-child(1)
    top: 0px
  span:nth-child(2)
    top: 10px
  span:nth-child(3)
    top: 20px
.hamburger-icon--open
  span:nth-child(1)
    top: 10px
    -webkit-transform: rotate(135deg)
    -moz-transform: rotate(135deg)
    -o-transform: rotate(135deg)
    transform: rotate(135deg)
  span:nth-child(2)
    opacity: 0
    left: -60px
  span:nth-child(3)
    top: 10px
    -webkit-transform: rotate(-135deg)
    -moz-transform: rotate(-135deg)
    -o-transform: rotate(-135deg)
    transform: rotate(-135deg)
