<app-container-page title="Пополнения"
                    [loading]="loading">
  <app-topups [topUps]="page?.content"></app-topups>

  <div class="pagination">
    <app-pagination [totalItems]="page.totalElements"
                    [maxSize]="pageSize"
                    (pageChanged)="pageChanged($event)"></app-pagination>
  </div>
</app-container-page>
