.banner
  position: relative
  display: flex
  align-items: center
  justify-content: center
  min-height: 100%
  background: linear-gradient(360deg, #000000 -1.9%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, #6D3662, #6D3662), radial-gradient(32.45% 32.45% at 48.75% 45.05%, #500769 0%, #500769 27.6%, #4E0767 47.92%, #000000 100%)
  &__background
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: url("~src/assets/pics/background.jpg") no-repeat top center
    background-size: cover
    mix-blend-mode: soft-light
  &__banner
    text-align: center
    margin: 6.5em 0
    z-index: 1
    .healthclub
      font-size: 2.75em
      letter-spacing: 1.01em
      text-indent: 1.01em
      text-transform: uppercase
      font-weight: 300
    .grandprix
      text-align: center
      font-size: 7.75em
      letter-spacing: 0.5em
      text-indent: 0.5em
      text-transform: uppercase
      background: linear-gradient(89.93deg, #E343C1 6.48%, #FFFCFE 46.88%, #E247C1 92.77%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    .tagline
      font-size: 1.8em

.button
  cursor: pointer
  width: 13.875em
  height: 3em
  font-size: 0.875em
  font-weight: 600
  text-transform: uppercase
  background: linear-gradient(89.93deg, #E343C1 6.48%, #FFFCFE 46.88%, #E247C1 92.77%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  border: 2px solid transparent
  border-image-slice: 1
  border-image-source: linear-gradient(89.93deg, #E343C1 6.48%, #FFFCFE 46.88%, #E247C1 92.77%)
  transition: 0.1s linear
  &:hover
    -webkit-background-clip: border-box
    -webkit-text-fill-color: black
  &:active
    transform: scale(0.9)

