<div class="banner">
  <div class="banner__background"></div>

  <div class="banner__banner">
    <div class="healthclub animate__animated animate__fadeInLeft">health club</div>
    <div class="grandprix  animate__animated animate__fadeInRight">grand prix</div>
    <div class="tagline mt-5 animate__animated animate__fadeInUp animate__delay-1s" [innerHTML]="'landing.banner-page.tagline' | translate"></div>
    <div class="mt-4  animate__animated animate__fadeInUp animate__delay-2s">
      <button class="button mr-4" routerLink="/about-us">{{ "landing.banner-page.more" | translate }}</button>
      <button class="button" (click)="navigateToWhatsApp()">{{ "landing.banner-page.consultant" | translate }}</button>
    </div>
  </div>
</div>
