.calendar-side-menu
  width: 20em
  height: 100%
  background-color: #f5f6fa
  padding: 2em
  &__calendar
    font-size: 1.5em
    margin-top: 1.4em
  &__categories
    margin-top: 5em
.category
  display: flex
  align-items: center
  margin-bottom: 0.3em
  .color
    margin-right: 1em
    width: 1.5em
    height: 1.5em
    border-radius: 5px
