<div class="calendar-side-menu">
  <div class="calendar-side-menu__calendar">
    <app-calendar-month></app-calendar-month>
  </div>
  <div class="calendar-side-menu__categories">
    <h3>{{ 'client.calendar.side-menu.categories' | translate }}:</h3>
    <div class="category">
      <div class="color" style="background-color: #dec5db"></div>
      {{ 'client.calendar.side-menu.medicine' | translate }}
    </div>
    <div class="category">
      <div class="color" style="background-color: #c8dbe0"></div>
      {{ 'client.calendar.side-menu.beauty' | translate }}
    </div>
    <div class="category">
      <div class="color" style="background-color: #b8b9d4"></div>
      {{ 'client.calendar.side-menu.fitness' | translate }}
    </div>
    <div class="category">
      <div class="color" style="background-color: #000000"></div>
      {{ 'client.calendar.side-menu.other' | translate }}
    </div>
  </div>
</div>
