<div class="calendar-page">
  <app-cabinet-header [title]="'routes.client.calendar'"></app-cabinet-header>
  <div class="calendar-page__main">
    <div class="calendar-page__calendar">
      <app-calendar-header></app-calendar-header>
      <app-calendar-week></app-calendar-week>
    </div>
    <app-calendar-side-menu></app-calendar-side-menu>
  </div>
</div>
