.calendar-page
  &__main
    display: flex
  &__calendar
    padding: 2em
    flex: 1
    height: calc(100vh - 5rem)

@media screen and (max-width: 768px)
  .calendar-page
    overflow: auto
    &__calendar
      height: calc(100vh - 60px)
