.schedule-date-picker
  display: grid
  grid-template-columns: 2em 12em 2em
  grid-column-gap: 0.3em
  height: 2em
  font-family: "Lora", Arial, sans-serif
  font-size: 1em
  font-weight: 500
  &__selected-date
    font-size: 1.2em
    background-color: #e7eaf0
    color: #333
    text-align: center
  button
    background-color: #e7eaf0
    color: #333
    border: none
    border-radius: 2px
    cursor: pointer
    &:hover
      background-color: #7e1e82
      color: white
    &:active
      transform: scale(0.9)
