<div class="schedule-date-picker">
  <button (click)="prev()"><i class="fas fa-chevron-left"></i></button>
  <span class="schedule-date-picker__selected-date">{{ selectedDate | dateLocaleFilter :'DD MMMM yyyy' | async }}</span>
  <button (click)="next()"><i class="fas fa-chevron-right"></i></button>
</div>
