<div>
  <div class="calendar-day__header">
    <div class="calendar-day__header__weekday">
      {{ weekDay | dateLocaleFilter: 'dddd' | async }}
    </div>
    <div class="calendar-day__header__date">
      {{ date }}
    </div>
  </div>
  <div class="calendar-day__main" *ngFor="let entry of entries$ | async">
    <app-calendar-entry [entry]="entry"
                        class="calendar-day__main__row">
    </app-calendar-entry>
  </div>
</div>
