.calendar-day
  display: flex
  flex-direction: column
  &__header
    text-align: center
    padding: 1.5em 0.5em
    border-bottom: solid 1px #dfe4ea
    background-color: #f5f6fa
    &__weekday
      text-transform: capitalize
      font-weight: 500
      letter-spacing: 1px
      margin-bottom: 0.2em
    &__date
      color: #666666
  &__main
    padding: 0.3em
    display: flex
    flex-direction: column
    border-bottom: solid 1px #dfe4ea
  &__main:last-child
    border-bottom: none
