<div class="schedule">
  <app-cabinet-header [title]="'routes.client.schedule'"></app-cabinet-header>

  <app-schedule-filter (filterDataChanged)="onFilterDataChanged($event)"></app-schedule-filter>

  <app-schedule-info *ngIf="scheduleInfo"
                     [info]="scheduleInfo"
                     (slotClicked)="onSlotClicked($event)">
  </app-schedule-info>
</div>
<ng-template #requestAppointmentTemplate>
  <app-request-appointment [request]="request"
                           (sent)="onRequestSent()"
                           (cancelled)="closeModal()">
  </app-request-appointment>
</ng-template>
