<div class="calendar-entry"
     [ngClass]="{
      'calendar-entry--med': entry?.type === ServiceType.MED,
      'calendar-entry--beauty': entry?.type === ServiceType.BEAUTY,
      'calendar-entry--fitness': entry?.type === ServiceType.FITNESS
     }">
  <div class="calendar-entry__activity">{{ 'client.calendar.entry.activity' | translate }}: {{ entry?.service}} </div>
  <div class="calendar-entry__time">{{ 'client.calendar.entry.time' | translate }}: {{ entry?.time }}</div>
</div>
