.calendar-entry
  border-radius: 5px
  padding: 1em 0.7em
  &--med
    background-color: #dec5db
    color: #7a016c
  &--fitness
    background-color: #b8b9d4
    color: #000478
  &--beauty
    background-color: #c8dbe0
    color: #006a75
  &__activity
    font-weight: 500
    text-transform: capitalize
    margin-bottom: 1em
  &__time
    font-size: 0.9em
