<app-container-page title="аккаунты"
                    [loading]="loading">
  <app-admin-accounts-table [accounts]="accounts" (statusUpdated)="getAccounts()"></app-admin-accounts-table>
</app-container-page>
