<div class="cabinet">
  <app-nav-menu [role]="accountRoleName" [routes]="routes"></app-nav-menu>
  <div class="cabinet__main">
    <router-outlet></router-outlet>
  </div>
  <div class="cabinet__lang">
    <app-lang-select></app-lang-select>
  </div>
</div>
