<div class="calendar-month">
  <div class="calendar-month__mode">
    <h5>{{ day | dateLocaleFilter: 'MMMM, yyyy' | async }}</h5>
    <div class="calendar-month__mode__buttons">
      <button (click)="prevMonth()"><i class="fas fa-chevron-left"></i></button>
      <button (click)="nextMonth()"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="calendar-month__header">
    <div class="calendar-month__weekday">{{ 'client.calendar.month.monday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.tuesday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.wednesday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.thursday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.friday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.saturday' | translate }}</div>
    <div class="calendar-month__weekday">{{ 'client.calendar.month.sunday' | translate }}</div>
  </div>
  <div class="calendar-month__body">
    <div *ngFor="let d of days"
         (click)="selectDate(d)"
         class="calendar-month__date"
         [ngClass]="{ 'calendar-month__date--secondary': d.format('MMMM, yyyy') !== day.format('MMMM, yyyy'),
                      'calendar-month__date--active': d.format('DD, MM, yyyy') === activeDate }">
      {{ getDate(d) }}
      <div class="calendar-month__date__circles">
        <span *ngIf="hasActivity(d.format('DD-MM-yyyy'))"><i class="fas fa-circle"></i></span>
<!--        <span *ngIf="showCircle(d.format('yyyy-MM-DD'), serviceType.MED)" style="color: #dec5db"><i class="fas fa-circle"></i></span>-->
<!--        <span *ngIf="showCircle(d.format('yyyy-MM-DD'), serviceType.BEAUTY)" style="color: #c8dbe0"><i class="fas fa-circle"></i></span>-->
<!--        <span *ngIf="showCircle(d.format('yyyy-MM-DD'), serviceType.FITNESS)" style="color: #b8b9d4"><i class="fas fa-circle"></i></span>-->
      </div>
    </div>
  </div>
</div>
