.calendar-month
  &__mode
    display: flex
    justify-content: space-between
    align-items: center
    text-transform: capitalize
    &__buttons
      width: 2.5em
      display: flex
      align-items: center
      justify-content: space-between
      button
        height: 2em
        width: 2em
        font-family: "Lora", Arial, sans-serif
        background-color: #e7eaf0
        color: #333
        border: none
        border-radius: 2px
        cursor: pointer
      button:hover
        background-color: #7e1e82
        color: white
      button:active
        transform: scale(0.9)
  &__header
    display: grid
    align-items: center
    justify-items: center
    grid-template-columns: repeat(7, 1fr)
    font-size: 0.7em
    color: #666666
    margin-bottom: 1em
  &__body
    display: grid
    align-items: center
    justify-items: center
    grid-row-gap: 0.2em
    font-size: 0.9em
    grid-template-columns: repeat(7, 1fr)
  &__date:hover
    background-color: #b9c0c4
  &__date
    border-radius: 5px
    width: 1.5em
    height: 2em
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer
    &--secondary
      opacity: 0.5
    &--active
      color: white
      background-color: #95afc0
    &__circles
      width: 90%
      justify-content: space-around
      display: flex
      font-size: 5px
