.account-card
  width: 100%
  padding: 4em
  display: grid
  grid-template-columns: 30% 30% 30%
  align-items: center
  grid-gap: 3em
  &__field
    display: flex
    flex-direction: column
  &__label
    color: #7e1e82
    font-weight: bold
    letter-spacing: 1px
    font-size: 1.1em
    margin-bottom: 0.2em
    text-transform: capitalize
  &__input
    background-color: #e4e8f3
    border: solid 1px #c8cfdf
    font-size: 1.5em
  &__input:disabled
    border: none
    background-color: inherit
