<div class="account-card">
  <div class="account-card__field">
    <label class="account-card__label">{{ 'client.account.login' | translate }}</label>
    <input class="account-card__input" [ngModel]="accountInfo.username" disabled>
  </div>
  <div class="account-card__field">
    <label class="account-card__label">{{ 'client.account.fio' | translate }}</label>
    <input class="account-card__input" [ngModel]="accountInfo.fullname" disabled>
  </div>
  <div class="account-card__field">
    <label class="account-card__label">{{ 'client.account.email' | translate }}</label>
    <input class="account-card__input" [ngModel]="accountInfo.email" disabled>
  </div>
  <div class="account-card__field">
    <label class="account-card__label">{{ 'client.account.phone' | translate }}</label>
    <input class="account-card__input" [ngModel]="accountInfo.phone" prefix="+7 " mask="(000) 000-0000" disabled>
  </div>
  <div class="account-card__field">
    <label class="account-card__label">{{ 'client.account.role' | translate }}</label>
    <input class="account-card__input" [ngModel]="accountRoleName | translate" disabled>
  </div>
</div>
