<header class="header no-select d-flex justify-content-between animate__animated animate__fadeInDown">
  <img class="header__logo" routerLink="" src="assets/icons/gp-logo1.svg">

  <nav class="navbar">
    <div class="nav-item nav-link" routerLink="/navigation">{{ 'landing.header.navigation' | translate }}</div>
    <div class="nav-item nav-link" routerLink="/price-list">{{ 'landing.header.price-list' | translate }}</div>
    <div class="nav-item nav-link" routerLink="/about-us">{{ 'landing.header.about-us' | translate }}</div>
    <div class="nav-item nav-link" routerLink="/schedule">{{ 'landing.header.schedule' | translate }}</div>
    <div class="nav-item nav-link" routerLink="/auth">{{ 'landing.header.auth' | translate }}</div>
  </nav>
</header>
