@import "~src/assets/styles/colors"
@import "~src/assets/styles/vars"

.header
  position: fixed
  z-index: 1
  top: 0
  left: 0
  right: 0
  height: $header-height
  padding: 2em 3em 0
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    height: 100%
    cursor: pointer

.nav-item
  font-size: 1.125em
  text-transform: uppercase
  margin-left: 2em
  transition: 0.1s linear
  cursor: pointer
  &:hover
    color: $purple
  &:active
    transform: scale(0.9)
