<form [formGroup]="form" class="sign-in">
  <div>
    <h3 class="sign-in__title">{{ 'auth.sign-in.personal-cabinet' | translate }}</h3>
    <div class="wrapper mb-5">
      <label class="sign-in__label">{{ 'auth.sign-in.login' | translate }}</label>
      <input class="sign-in__input" formControlName="username">
      <label class="sign-in__label">{{ 'auth.sign-in.password' | translate }}</label>
      <input class="sign-in__input" formControlName="password" type="password">
      <small *ngIf="errorMessageI18nKey" class="sign-in__error">{{ errorMessageI18nKey | translate }}</small>
      <a class="sign-in__link" routerLink="/auth/restore">{{ 'auth.sign-in.restore-password' | translate }}</a>
    </div>
    <app-button class="sign-in-button"
                [label]="'auth.sign-in.signin' | translate"
                [color]="'violet'"
                (click)="signin()"
                [loading]="loading">
    </app-button>
  </div>
</form>
