@import "src/assets/styles/colors"

.sign-in
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  &__title
    margin-bottom: 2rem
    color: $violet
    letter-spacing: 1px
    text-transform: uppercase
  &__label
    align-self: flex-start
    margin-top: 1rem
    margin-bottom: 0.5rem
    font-weight: 400
    color: $gray
    text-transform: capitalize
  &__input
    width: 100%
    background-color: $light-gray
    line-height: 1rem
    border: none
    outline: none
    text-decoration: none
    padding: 0.5rem 1rem
    font-size: 1rem
    margin-bottom: 0.3rem
  &__error
    color: $error
  &__link
    float: right
    text-transform: capitalize
  .ng-invalid.ng-touched
    border: solid 1px $error

.sign-in-button
  font-size: 1rem

