<div class="app-container">
  <app-cabinet-header [title]="title"></app-cabinet-header>
  <div class="app-container__main">
    <div *ngIf="loading" class="ml-5">
      <i class="fas fa-spinner fa-lg fa-spin"></i>
      <label class="ml-3 mt-5">{{ 'core-ui.container-page.loading' | translate }}</label>
    </div>
    <div *ngIf="!loading">
      <ng-content></ng-content>
    </div>
  </div>
</div>
