.nav-section
  height: 100%
  background: linear-gradient(180deg, rgba(31, 5, 44, 0.67) 7.08%, rgba(124, 0, 183, 0.4221) 53.44%, rgba(11, 2, 16, 0.48843) 100%)
  position: relative
  display: flex
  align-items: center
  justify-content: center
  &__background
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    position: absolute
    z-index: -1
    height: 100%
    width: 100%
  &__title
    cursor: pointer
    writing-mode: vertical-rl
    transform: rotate(180deg)
    font-weight: 700
    font-size: 4em
    letter-spacing: 0.17em
    text-transform: uppercase
    filter: drop-shadow(0px 4px 10px #28013A)
    transition: 0.5s ease-in-out



