<div class="nav-section">
  <div class="nav-section__background" [style.background-image]="'url(' + getImg() + ')'"></div>
  <div class="nav-section__title" (mouseover)="changeState()">
    {{ sectionName }}
  </div>
</div>
