@import "src/assets/styles/vars"

.auth
  height: 100%
  background-color: #c4aaf2
  display: flex
  flex-direction: column
  &__main
    flex: 1
    display: flex
    align-items: center
    justify-content: space-around
    &__box
      border-radius: 0.3rem
      background-color: white
      height: 100%
      width: 100%
      max-height: 45rem
      max-width: 40rem
      padding: 2rem
    &__logo
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
