<div class="auth">
  <app-header></app-header>
  <div class="auth__main">
    <div class="auth__main__box">
      <router-outlet></router-outlet>
    </div>
    <div class="auth__main__logo">
      <img src="assets/images/footer-logo.png">
    </div>
  </div>
</div>
