<div class="schedule">
  <app-employee-schedule-info class="schedule__employee"
                              *ngFor="let e of info.employees"
                              [headerHeight]="headerHeight"
                              [workingHours]="info.workingHours"
                              [employee]="e"
                              (slotClicked)="slotClicked.emit($event)">
  </app-employee-schedule-info>
</div>
