@import "src/assets/styles/colors"

.restore
  display: flex
  flex-direction: column
  &__title
    margin-bottom: 2rem
    color: $violet
    letter-spacing: 1px
    text-transform: uppercase
  &__label
    align-self: flex-start
    margin-bottom: 0.5rem
    margin-top: 1.5rem
    font-weight: 400
    color: $gray
    text-transform: capitalize
  &__input
    font-size: 1rem
    line-height: 1rem
    padding: 0.5rem 1rem
    width: 100%
    background-color: $light-gray
    border: none
    outline: none
    text-decoration: none

.restore-button
  font-size: 1rem
