<div class="restore">
  <h3 class="restore__title">{{ 'auth.restore.restore-password' | translate }}</h3>
  <label class="restore__label sec-text">{{ 'auth.restore.phone' | translate }}</label>
  <input class="restore__input mb-5">
  <app-button [label]="'auth.restore.restore' | translate" [color]="'violet'"></app-button>
</div>
