<div class="schedule-filter">
  <div class="d-flex">
    <div class="form-group mr-5">
      <select class="form-control custom-select"
              [(ngModel)]="filterData.organizationId"
              (ngModelChange)="emit()">
        <option [ngValue]="undefined">{{ 'client.schedule.filter.organization' | translate }}</option>
        <option *ngFor="let org of organizations$ | async"
                [ngValue]="org.id">
          {{ org.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control custom-select"
              [(ngModel)]="filterData.offeredServiceId"
              (ngModelChange)="emit()">
        <option [ngValue]="undefined">{{ 'client.schedule.filter.activity' | translate }}</option>
        <option *ngFor="let service of offeredServices$ | async"
                [ngValue]="service.id">
          {{ service.nameRu }}
        </option>
      </select>
    </div>
  </div>
  <app-schedule-date-picker (selectedDateChanged)="onSelectedDateChanged($event)"></app-schedule-date-picker>
</div>
