<div class="navigation">
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.AQUA)}"
                   [sectionName]="sectionNames.AQUA"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.SPA)}"
                   [sectionName]="sectionNames.SPA"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.FITNESS)}"
                   [sectionName]="sectionNames.FITNESS"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.CLINIC)}"
                   [sectionName]="sectionNames.CLINIC"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.BEAUTY)}"
                   [sectionName]="sectionNames.BEAUTY"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
  <app-nav-section class="navigation__section"
                   [ngClass]="{'navigation__section--active' : isSectionActive(sectionNames.MED_DETOX)}"
                   [sectionName]="sectionNames.MED_DETOX"
                   (onHover)="changeActiveSection($event)">
  </app-nav-section>
</div>
