.navigation
  height: 100%
  display: flex
  &__section
    width: 100%
    min-width: 8em
    transition: 0.5s ease-in-out
    &--active
      width: 400%
      ::ng-deep
        .nav-section__title
          transform: rotate(270deg)
          background: linear-gradient(#E343C1 6.48%, #FFFCFE 46.88%, #E247C1 92.77%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
