<app-container-page [title]="'routes.client.wallet'" [loading]="loading">
  <app-wallet *ngIf="accountBalance"
              (payButtonClicked)="openWidget($event)"
              [accountBalance]="accountBalance"
              [topUps]="page?.content"></app-wallet>
  <div class="pagination" *ngIf="page?.empty === false">
    <app-pagination [totalItems]="page.totalElements"
                    [maxSize]="pageSize"
                    (pageChanged)="pageChanged($event)"></app-pagination>
  </div>
</app-container-page>
