@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
@import "./vars"
@import "./colors"

html
  box-sizing: border-box
  font-family: Lora, sans-serif
*, *::before, *::after
  box-sizing: inherit
  margin: 0
  padding: 0

body
  min-height: 100vh
  overflow-x: hidden

a
  text-decoration: none

.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
