<div class="calendar-header">
  <h4 class="calendar-header__month">
    {{ day | dateLocaleFilter: 'MMMM, yyyy' | async}}
  </h4>
  <div class="calendar-header__mode">
    <button (click)="prev()"><i class="fas fa-chevron-left"></i></button>
    <button (click)="today()">{{ 'client.calendar.header.today'| translate }}</button>
    <button (click)="next()"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
