.calendar-header
  display: flex
  justify-content: space-between
  align-items: baseline
  &__month
    text-transform: capitalize
    font-size: 1.5em
    letter-spacing: 1px
  &__mode
    display: grid
    grid-template-columns: 2em 7em 2em
    grid-column-gap: 0.3em
    height: 2em
    button
      font-family: "Lora", Arial, sans-serif
      font-size: 1em
      font-weight: 500
      background-color: #e7eaf0
      color: #333
      border: none
      border-radius: 2px
      cursor: pointer
    button:hover
      background-color: #7e1e82
      color: white
    button:active
      transform: scale(0.9)
