<button class="app-button"
        [class.app-button--violet]="color === 'violet'"
        [class.app-button--red]="color === 'red'"
        [disabled]="disabled">
  <app-rhombuses-spinner *ngIf="loading" class="app-button__spinner"></app-rhombuses-spinner>
  <div [style.opacity]="loading ? '0' : '1'">{{ label }}</div>
</button>
