@import 'src/assets/styles/colors'

.app-button
  position: relative
  width: 100%
  cursor: pointer
  background-color: transparent
  color: inherit
  border: none
  text-transform: uppercase
  padding: 0.6rem 1.5rem
  border-radius: 0.5rem
  outline: none
  &:hover
    font-weight: 500
    color: $dark-violet
  &:active
    transform: scale(0.9)
  &:disabled
    background-color: gray !important
  &__spinner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.app-button--violet
  color: white
  background-color: $violet
  &:hover
    font-weight: 400
    color: white
    background-color: $dark-violet

.app-button--red
  color: white
  background-color: $tomate
  &:hover
    font-weight: 400
    color: white
    background-color: $pomegranate
