<header class="header">
  <div class="no-select">
    <img class="header__logo" src="assets/images/logo-1.png" routerLink="/">
    <app-lang-select></app-lang-select>
  </div>
  <nav class="header__nav">
    <app-button [label]="'auth.header.signin' | translate" routerLink="sign-in"></app-button>
    <app-button [label]="'auth.header.signup' | translate" [color]="'violet'" routerLink="sign-up"></app-button>
  </nav>
</header>
