@import "src/assets/styles/colors"

.header
  display: flex
  align-items: center
  justify-content: space-between
  margin: 2rem 10%
  color: #ffffff
  &__logo
    cursor: pointer
  &__nav
    display: flex
    align-items: center
    letter-spacing: 1px
    font-weight: 500
    font-size: 1rem

